@font-face {
	font-family: a SignboardCpsNr BoldItalic;
	font-display: swap;
	src: url("../fonts/a SignboardCpsNr BoldItalic.woff2") format("woff2"), url("../fonts/a SignboardCpsNr BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Banty Bold;
	font-display: swap;
	src: url("../fonts/Banty Bold.woff2") format("woff2"), url("../fonts/Banty Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BriosoPro Italic;
	font-display: swap;
	src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PFAgoraSlabPro Bold;
	font-display: swap;
	src: url("../fonts/PFAgoraSlabPro Bold.woff2") format("woff2"), url("../fonts/PFAgoraSlabPro Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
